<!-- Start of Social Media Links -->

	<div id="social-share" class="social-share">
		<span id="youtube-page"></span>
		<span id="instagram-page">
			<a href="https://www.instagram.com/hectorcanaimero/" target="_blank"></a>
		</span>
		<span id="twitter-page">
			<a href="https://www.twitter.com/hectorcanaimero/" target="_blank"></a>
		</span>
		<span id="googleplus-page"></span>
		<span id="facebook-page"></span>
		<a href="{{@blog.url}}/rss/" class="rss-subscribe" target="_blank"><i class="fa fa-rss"></i></a>
	</div>

<!-- End of Social Media Links -->
