<!-- start widget -->
<section  id="cp-contacts"  class="widget">
	<span><h5>Contactame</h5></span>
	<div class="cp-contacts">
		<p>En algún lugar de la Mancha.</p>
		<p class="sidebar-phone"><i class="fa fa-phone"></i><a href="tel:+254712345678">Solo E-Mail</a></p>
		<p class="sidebar-email"><i class="fa fa-envelope-o"></i>
			<a href="mailto:rodriguez.hectoralejandro@gmail.com">rodriguez.hectoralejandro@gmail.com</a></p>
	</div>
</section>
<!-- end widget -->
