<!-- start widget -->
<section class="widget">
	<span><h5>Mi Instagram</h5></span>
	<div id="podcasts" class="podcasts">
		<!-- Start of embed code -->
		<!-- LightWidget WIDGET -->
		<script src="//lightwidget.com/widgets/lightwidget.js"></script>
		<iframe src="//lightwidget.com/widgets/722ab969a5085f8da46a38b33ee5e984.html"
				scrolling="no" allowtransparency="true" class="lightwidget-widget"
				style="width: 100%; border: 0; overflow: hidden;">
		</iframe>

		<!-- Embed of embed code -->
	</div>
</section>
<!-- end widget -->
