<!-- start widget -->
<section class="widget">
	<span><h5>Advertisement</h5></span>
	<div class="advert">
		<a href="#">
			<img with="100%" src="{{asset "/images/advert_300x300.jpg"}}">
		</a>
	</div>
</section>
<!-- end widget -->
